.card {
  border-bottom: 1px solid var(--gray);
  padding: 4px 8px;
  display: flex;
  align-items: center;
}

.cardCount {
  margin-left: 8px;
  width: 38px;
  border-radius: 2px;
  text-align: center;
  font-size: 13px;
  line-height: 22px;
  background-color: var(--green);
  color: var(--white);
}

.cardImage img {
  height: 30px;
}

.cardName {
  margin-left: 10px;
  flex-grow: 1;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  color: var(--black);
}

.cardActions {
  font-size: 12px;
}

.cardActions button {
  border: none;
  background: none;
  font-weight: 400;
  font-size: 11px;
  color: var(--blue);
  margin-right: 4px;
  margin-left: 4px;
}
